## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [1]:
False

False

In [2]:
print(True,False)

True False

In [3]:
type(True)

bool

In [4]:
type(False)

bool

In [5]:
my_str='Apple123'

In [6]:
my_str.istitle()

True

In [7]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
False

### Boolean and Logical Operators

In [8]:
True and True

True

In [9]:
True and False

False

In [10]:
True or False

True

In [11]:
True or True

True

In [12]:
str_example='Hello World'
my_str='Krish'

In [13]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [3]:
type([])

list

In [4]:
lst_example=[]

In [5]:
type(lst_example)

list

In [6]:
lst=list()

In [7]:
type(lst)

list

In [8]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [9]:
len(lst)

6

In [10]:
type(lst)

list

### Append

In [11]:
#.append is used to add elements in the list
lst.append("Apple")

In [12]:
lst.append(["Mango","Grapes"])

In [13]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Apple', ['Mango', 'Grapes']]

In [15]:
##Indexing in List
lst[6]

'Apple'

In [16]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [17]:
## insert in a specific order

lst.insert(2,"Pineapple")

In [18]:
lst

['Mathematics',
 'chemistry',
 'Pineapple',
 100,
 200,
 300,
 204,
 'Apple',
 ['Mango', 'Grapes']]

In [19]:
lst.append(["Hello","World"])

In [20]:
lst

['Mathematics',
 'chemistry',
 'Pineapple',
 100,
 200,
 300,
 204,
 'Apple',
 ['Mango', 'Grapes'],
 ['Hello', 'World']]

In [21]:
lst=[1,2,3]

In [22]:
lst.append([4,5])

In [23]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [24]:
lst=[1,2,3,4,5,6]

In [25]:
lst.extend([8,9])

In [26]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [27]:
lst=[1,2,3,4,5]

In [28]:
sum(lst)

15

In [29]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [30]:
lst.pop()

5

In [31]:
lst

[1, 2, 3, 4]

In [32]:
lst.pop(0)

1

In [33]:
lst

[2, 3, 4]

### count():Calculates total occurrence of given element of List

In [34]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [35]:
#length:Calculates total length of List
len(lst)

6

In [36]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [37]:
##Min and Max
min(lst)

1

In [48]:
max(lst)

5

In [75]:
music_services = ["Spotify", "YouTube", "Google Play", "iTunes", "Deezer", "And More!"]

In [76]:
print(music_services[0])

Spotify

In [77]:
print(music_services[-1])

And More!

In [78]:
print(music_services[0:2])

['Spotify', 'YouTube']

In [79]:
music_services[5] = "Hello!"
print(music_services[5])

Hello!

In [80]:
numbers_a = [1, 2, 3]
numbers_b = [4, 5, 6]
numbers_c = [7, 8, 9]

In [81]:
numbers_list = [numbers_a, numbers_b, numbers_c]
# numbers_list is now [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [82]:
# Printing from nested lists
numbers_list[0][1]

2

In [83]:
# Joining lists
list_one = [1, 2]
list_two = [3, 4]
list_three = list_one + list_two

In [84]:
list_three

[1, 2, 3, 4]

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [38]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [94]:
unique_numbers = {1, 1, 2, 3}

In [95]:
unique_numbers

{1, 2, 3}

In [41]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'IronMan', 'Hitman'}

set

In [97]:
# Another way is to just cast to a set
numbers = [4, 4, 5, 6]

more_unique_numbers = set(numbers)

In [98]:
type(more_unique_numbers)

set

In [99]:
# Iterate through a set using loops!
for i in unique_numbers:
    pass

In [100]:
some_set = {x for x in range(10)}

In [101]:
some_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

Set Methods

In [102]:
example_set = {1, 2, 3}

In [103]:
example_set.add(3) # Nothing gets added since 3 exists already

In [104]:
example_set.add(4)

In [105]:
example_set

{1, 2, 3, 4}

In [106]:
# Add multiple values (Update merges sets!)
example_set.update([5, 6, 7]) # In this case it converts the list first

In [107]:
example_set

{1, 2, 3, 4, 5, 6, 7}

In [108]:
# Add multiple values (alternative)
example_set.update([5, 6, 7], {6, 7, 8}) # In case you wanted to merge a list and a set in too

In [109]:
example_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [110]:
# Remove a value
example_set.remove(8)

In [111]:
example_set

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
example_set.discard(7) ###

In [112]:
example_set

{1, 2, 3, 4, 5, 6, 7}

In [119]:
a = {1, 2, 3}
b = {"Hello", "Hell", 3}

In [120]:
# Union
print(a | b)

{1, 2, 3, 'Hello', 'Hell'}

In [121]:
# Intersection
print(a & b)

{3}

In [123]:
# Difference (A - B)
print(a - b)

{1, 2}

In [124]:
#Symmetric difference (Opposite of intersection)
print(a ^ b) # {1, 2, 'Hell', 'Hello'}

{1, 2, 'Hello', 'Hell'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [50]:
dic={}

In [51]:
type(dic)

dict

In [52]:
type(dict())

dict

In [53]:
set_ex={1,2,3,4,5}

In [69]:
type(set_ex)

set

In [125]:
species_dictionary = {"Bob" : "Human",
                     "AN_Python" : "Python",
                     "Jane" : "Snake"}
# The things to the left of the colon are the keys, and the ones on the right are the values

In [126]:
species_dictionary["AN_Python"] # Returns Python

'Python'

In [128]:
# To reassign values (Think lists, but with keys instead of indexes!)
species_dictionary["Jane"] = "Human"

In [129]:
species_dictionary["Jane"]

'Human'

In [130]:
# Empty dictionary
empty_dictionary = {}

Dictionary Comprehensions (More on this in the advanced section)

In [131]:
name_list = ["a", "b", "c", "d", "e"]
num_list = [1, 2, 3, 4, 5]

dictionary = {x : y for x, y in zip(name_list, num_list)}
# For Zip function see (2.18 Handy For Loop Functions and Keywords) section

In [132]:
dictionary

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

 Dictionary Methods

# List functions work!
del dictionary_name[<key>]
len()
pop(key)
clear() # Empties the entire dictionary

In [134]:
# Get values
species_dictionary.get("AN_Python") # Returns Python

'Python'

In [135]:
# Get a list of key-value pairs
species_dictionary.items()

dict_items([('Bob', 'Human'), ('AN_Python', 'Python'), ('Jane', 'Human')])

In [136]:
# Get a list of keys
species_dictionary.keys()

dict_keys(['Bob', 'AN_Python', 'Jane'])

In [137]:
# Get a list of values
species_dictionary.values()

dict_values(['Human', 'Python', 'Human'])

In [139]:
# Add a key (Update merges another dictionary!)
species_dictionary.update({"Apple":"Fruit"})

In [140]:
# Get a list of values
species_dictionary.values()

dict_values(['Human', 'Python', 'Human', 'Value', 'Fruit'])

In [ ]:
# Add multiple keys (As above, update merges another dictionary)
species_dictionary.update({"Key_1":"Value_1", "Key_2":"Value_2"})

In [141]:
# Add a key (alternative) (Though it isn't an explicit method call...)
species_dictionary["Smaug"] = "Python"

In [142]:
species_dictionary.get("Smaug") # Returns Python

'Python'

In [143]:
# Return a list of numbers that appear most frequently in an input list
# Show multiple if tied
# Eg. Input: [1, 1, 2, 2, 3]
# Output: [1, 2]

def most_frequent(lst):
    count_dict = {}
    for i in lst:
        if count_dict.get(i) == None:
            count_dict.update({i : lst.count(i)})
    return [x for x in count_dict.keys() if count_dict[x] == max(count_dict.values())]

### Nested Dictionary

In [64]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [65]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [66]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [67]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [68]:
## create an empty Tuples

my_tuple=tuple()

In [69]:
type(my_tuple)

tuple

In [70]:
my_tuple=()

In [71]:
type(my_tuple)

tuple

In [72]:
my_tuple=("Krish","Ankur","John")

In [73]:
my_tuple=('Hello','World')

In [74]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [107]:



type(my_tuple)

tuple

In [110]:
## Inbuilt function
my_tuple.count('Krish')

1

In [117]:
my_tuple.index('Ankur')

1