# Tuples

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable. (allow duplicate)

In [11]:
#Empty Tuple
T1=()

In [12]:
T1

()

In [13]:
T2 = ("Hello",2,67)

In [14]:
T2

('Hello', 2, 67)

In [15]:
#SINGLE ITEM TUPLE
T5 = ("Hello",)

In [16]:
T5

('Hello',)

In [17]:
type(T5)

tuple

In [18]:
T8 = ("apple", "banana", "cherry")
print(T8)

('apple', 'banana', 'cherry')

In [20]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry") #allow duplicate
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

A tuple can contain different data types:

A tuple with strings, integers and boolean values:

In [21]:
tuple1 = ("abc", 34, True, 40, "male")

In [22]:
tuple1

('abc', 34, True, 40, 'male')

In [23]:
#ACCESS

In [24]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [25]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [26]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [27]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

In [28]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [29]:
#Add Items

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [30]:
thistuple

('apple', 'banana', 'cherry', 'orange')

In [31]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [32]:
thistuple

('banana', 'cherry')

In [35]:
A = ("Jimin","Jin","Tae","Jungkook")
for i in A:
    print(i)

Jimin
Jin
Tae
Jungkook

In [36]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [37]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [38]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [39]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

#

### Sets

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed. (do not allow duplicate)

Sets are written with curly brackets.

In [5]:
#Empty Set
S1 = set()

In [6]:
S1

set()

In [7]:
myset = {"apple", "banana", "cherry"}

In [8]:
myset

{'apple', 'banana', 'cherry'}

In [9]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [10]:
set1 = {"abc", 34, True, 40, "male"}

In [11]:
set1

{34, 40, True, 'abc', 'male'}

In [12]:
#Access

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [13]:
B = {"Apple","Mango","Orange"}

for i in B:
    print(i)

Apple
Orange
Mango

In [14]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [15]:
#add Items

To add one item to a set use the add() method.

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

In [17]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'banana', 'orange', 'kiwi'}

In [18]:
#Remove

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [20]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [21]:
#Remove a random item by using the pop() method:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [22]:
#The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset) #this will raise an error because the set no longer exists

In [28]:
#Functions

In [29]:
S1 = {"BTS","HY","HELLO",1,2,3}

In [30]:
S1

{1, 2, 3, 'BTS', 'HELLO', 'HY'}

In [31]:
len(S1)

6

In [32]:
sorted(S1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [33]:
S2={3,5,7,3,6,89}

In [34]:
sorted(S2)

[3, 5, 6, 7, 89]

In [35]:
A={6,7,8,9,45}
B={3,4,5,6,7,8}

In [36]:
A.union(B)

{3, 4, 5, 6, 7, 8, 9, 45}

In [37]:
A.intersection(B)

{6, 7, 8}

In [38]:
A.difference(B)

{9, 45}

In [40]:
A.isdisjoint(B)

False

In [41]:
A.issubset(B)

False

- count()	Returns the number of times a specified value occurs in a tuple
- index()	Searches the tuple for a specified value and returns the position of where it was found

## DICTIONARY

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [1]:
# No Indexing
# Mutable Data Type
# keys should be unique

In [2]:
# Mutable -> List/Sets/Dictionary (can be edited)
#immutable -> strings/tuples/int/float/boolean

In [3]:
#create Empty
D={}

In [4]:
D

{}

In [5]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [7]:
#Duplicate not allowed
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [8]:
print(len(thisdict))

3

In [9]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [10]:
thisdict

{'brand': 'Ford',
 'electric': False,
 'year': 1964,
 'colors': ['red', 'white', 'blue']}

In [11]:
D3 = {
    "Name": "Rahul",
    "College":"UCOE",
    "Marks":{"M1":34,"E2":56,"S3":90}
}

In [12]:
D3

{'Name': 'Rahul', 'College': 'UCOE', 'Marks': {'M1': 34, 'E2': 56, 'S3': 90}}

In [13]:
#ACCESS

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [15]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [16]:
D3["Marks"]["M1"]

34

In [17]:
#Change Values

In [19]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [20]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

Update the "year" of the car by using the update() method:

In [21]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

In [22]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [23]:
#Adding Items

In [24]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [25]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [26]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [27]:
#Delete

The del keyword removes the item with the specified key name:

In [28]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The clear() method empties the dictionary:

In [29]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

The pop() method removes the item with the specified key name:

In [30]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [31]:
#Loops

In [32]:
for x in thisdict:
  print(x)

brand
year

Print all values in the dictionary, one by one:

In [33]:
for x in thisdict.values():
  print(x)

Ford
1964

In [34]:
D3

{'Name': 'Rahul', 'College': 'UCOE', 'Marks': {'M1': 34, 'E2': 56, 'S3': 90}}

In [36]:
D3.keys()

dict_keys(['Name', 'College', 'Marks'])

In [38]:
D3.values()

dict_values(['Rahul', 'UCOE', {'M1': 34, 'E2': 56, 'S3': 90}])

Method	Description
- clear()	Removes all the elements from the dictionary
- copy()	Returns a copy of the dictionary
- fromkeys()	Returns a dictionary with the specified keys and value
- get()	Returns the value of the specified key
- items()	Returns a list containing a tuple for each key value pair
- keys()	Returns a list containing the dictionary's keys
- pop()	Removes the element with the specified key
- popitem()	Removes the last inserted key-value pair
- setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
- update()	Updates the dictionary with the specified key-value pairs
- values()	Returns a list of all the values in the dictionary